a{
    text-decoration: underline;
}

.description-wrapper{
    align-content: left;

    color: $text-dark-color;
    text-align: left;

    margin: $description-margin-lg;
    padding: $description-padding-lg;
}

@media only screen and (max-width: 1280px) {
    .description-wrapper{
        margin: $description-margin-md;
        padding: $description-padding-md;
    }
}

@media only screen and (max-width: 768px) {
    .description-wrapper{
        margin: $description-margin-sm;
        padding: $description-padding-sm;
    }
}