.chart-container{
    background-color: $primary-color;

    padding: $container-margin-md;

    padding-left: 20rem;
    padding-right: 20rem;

    .chart-wrapper{
        margin: $container-margin-lg;
        margin-top:0;
        margin-bottom: 10rem;
        color: $text-dark-color;
    }

    .title-wrapper{
        text-align: center;
    }
    .heading-wrapper{
        text-align: center;
    }
    .description-wrapper{
        margin-top:0.1rem;
    }
    .marks{
        stroke-opacity: .5;
        margin: $container-margin-lg;
    }
    .marks .provinces.interactive{
        stroke-opacity: 1;
        stroke-width: .2rem;
    }
    .marks .interiors{
        fill: none;
        stroke: #ffffff;
        stroke-width: 0.1em;
    }

    .carousel{
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        li{
            background-color: $button-color;
            padding: $button-padding-sm;
            margin: $button-margin-sm;
            border-radius: 0.5rem;
            color: $text-light-color;
            font-family: $font-family;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1280px) {
        padding: $container-margin-md;

        .chart-wrapper{
            margin: $container-margin-md;
            margin-top:0;
            margin-bottom: 10rem;

            padding-left: 10rem;
            padding-right: 10rem;
        }
    }
    @media screen and (max-width: 768px) {
        padding: $container-margin-sm;

        .chart-wrapper{
            margin: $container-margin-sm;
            margin-top:0;
            margin-bottom: 5rem;

            padding: 0;
        }
    }
}