html, body{
    margin: 0;
    background-color: $body-bg-color;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: $font-family;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Footer */
.footer-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;

    background-color: $secondary-color;
    color: $primary-color;
}

/* Load Animation */
@keyframes load_animation{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.content-container{
    min-height: 100vh;
}

.home-container, .about-container, .chart-container{
    animation: load_animation $loading-time;
}

.hide{
    display:none;
}