.header-container{
    display: flex;
    justify-content: space-between;
    
    padding-left: $header-padding-lg;
    padding-right: $header-padding-lg;

    background-color: $header-color;

    img{
        padding: $button-padding-lg;
        height: $logo-size-lg;
    }

    @media only screen and (max-width: 1280px) {
        padding-left: $header-padding-md;
        padding-right: $header-padding-md;
        img{
            padding: $button-padding-md;
            height: $logo-size-md;
        }
    }

    @media only screen and (max-width: 768px) {
        padding-left: $header-padding-sm;
        padding-right: $header-padding-sm;
        img{
            padding: $button-padding-sm;
            height: $logo-size-sm;
        }
    }
}

.navbar-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: $font-family;

    a{
        text-decoration: none;
    }

    .menu-item{
        padding: $button-margin-lg;
        color: $text-light-color;
    }

    .menu-item:hover{
        background-color: $button-color;
        border-radius: 1rem;
        color: $text-light-color;
    }

    @media screen and (max-width: 1280px) {
        .menu-item{
            padding: $button-margin-md;
        }
    }

    @media only screen and (max-width: 768px) { //TODO:Create responsive navbar
        flex-direction: column;
        justify-content: center;

        .menu-item{
            padding: $button-margin-sm;
        }
    }
}